{% extends 'base.html' %}
{% block data %}
        <div id="cntr" class="padtop scale no_overflow">
            <div class="cntr">
                <span id="temps" class="value"></span>
                <span id="temps_wind" class="value"></span>
                <span class="value"> - </span>
                <span id="wind" class="value"></span>
            </div>
            <b>
                <div id="warnings"></div>
            <div id="watches"></div>
            <div id="advisories"></div>
            <div id="statements"></div>
            <div id="endings"></div>
            </b>
            <p id="allICONS"></p>
        </div>
        <script src="static/js/alerts.js"></script>
{% endblock %}
