<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eel example</title>

    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
      <div class="topnav {% if abs %}absPos{% endif %}">
        <span id="topWarn" class="warnPane twoLineData" >
            <p id="warn" class="no_margin" style="font-size: 20px;"></p>
            <p id="warnType" class="no_margin" style="font-size: 10px;">CLEAR</p>
        </span>
        <span class="twoLineData">
            <p id="time" class = "no_margin" style="font-size: 20px;"></p>
            <p id="date" class = "no_margin" style="font-size: 10px;"></p>
        <span class="twoLineData">
      </div>
</body>
<script src="static/js/main.js"></script>
<script src="static/js/stormWarn.js"></script>
</html>