{% extends 'base.html' %}
{% block data %}
        <div id="cntr" class="padtop scale no_overflow">
            <img id="shear"  class="overlay semi" src="https://wmiradar.com/ahsp/rap/current_run/RAP_HLCYSHR_F06.png">
            <img id="MUCAPE" class="overlay semi" src="https://wmiradar.com/ahsp/rap/current_run/RAP_MUCAPE_F06.png">
            <img id="VORT"   class="overlay semi" src="https://wmiradar.com/ahsp/rap/current_run/RAP_VORT500_F06.png" hidden>
            <img id="DEW"    class="overlay semi" src="https://wmiradar.com/ahsp/rap/current_run/RAP_DEWP_F06.png" hidden>
            <img id="MOIST"  class="overlay semi" src="https://wmiradar.com/ahsp/rap/current_run/RAP_LIFTMOIST_F06.png" hidden>
            <img id="DIVERG" class="overlay semi" src="https://wmiradar.com/ahsp/rap/current_run/RAP_DIVCON_F06.png" hidden>
            <div id="checks" class="layers"></div>
        </div>
        <script src="static/js/datapane.js"></script>
{% endblock %}