{% extends 'base.html' %}
{% block data %}
        <div id="cntr" class="scale forcast">
            <h3>ECHOTOPS</h3>
            <img id="ECHOTOPS"  class="scale-im" src="https://wmiradar.com/ahsp/wrf/current_run/images/et_12.png">
            <h3>REFLEC</h3>
            <img id="REFLEC"  class="scale-im" src="https://wmiradar.com/ahsp/hiresw/current_run/arw1_bref_5.png">

            <h3>OVR</h3>
            <img id="OVR"  class="scale-im" src="https://weather.gc.ca/data/analysis/jac00_100.gif">
    
        </div>
{% endblock %}