@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Spacemono', monospace;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.locPing {
  opacity: 5%;
  position: absolute;
  bottom: 5px;
}
.locPing:hover {
  opacity: 100%;
  
}
.layers {
  bottom: unset;
  top: 5px;
  right: 5px;
}